.input-box {
    margin-bottom: 1em;
}

.list-box {
    margin-top: 1em;
}

.list-item {
    display: inline;
    margin-right: 1em;
}

.remove-button {
    display: inline;
    border: none;
    background: none;
}
